// .babelrc
{
    "presets": [
        [ "env",{ "exclude": ["transform-es2015-classes"] }]
    ],
    "plugins": [
        ["transform-runtime", {
            "regenerator": true
        }]
        ]
}
